@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/bgr_img.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  width: 100vw;
  color: white;
  background-size: cover;
  background-position: center;
}

.signin-container {
  background-color: rgba(61, 59, 59, 0.542);
  color: white; 
  padding: 2rem;
  border-radius: 8px;
  margin: 0 auto;
}

.profile-container {
  background-color: rgba(61, 59, 59, 0.542);
  color: white;
  padding: 3rem;
  border-radius: 8px;
  margin: 0 auto; 
  max-width: 90vw; 
  margin-top: 2rem; 
  position: relative; 
}
